.login-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* Background image with transparency */
    background-image: url('../../assets/paymentBackground.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0.6) to set transparency */
    display: grid;
}


.login-popup-container {
    place-self: center;
    width: max(23vw, 500px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-container h1 {
    color: #1a1a1b;
    font-size: 28px;
    font-weight: bold; 
    margin: 0; 
    text-align: center; 
    padding-bottom: 10px;
    border-bottom: 2px solid #c9c9c9; 
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1a1a1b;
}

.login-popup-title img {
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #1a1a1b;
    font-size: 15px;
}

.login-popup-condition {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition p {
    margin: 0;
    padding: 5px 0;
    color: black;
    font-size: larger;
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.card-details input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.login-popup-condition input {
    margin-top: 5px;
}

.login-popup p span {
    color: #1a1a1b;
    font-weight: 500;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
